.inputBox
{
  width: 240px;
  height: 40px;
  box-sizing: border-box; 
  border-radius: 5px !important;
}

.result
{
  font-size: 20px;
}

.btn
{
  margin-right: 5px;
  height: 40px;
}
.button 
{
  width: 50%;
  display: flex;

}

 .btn_special
{
  background-color: orange;
  color: white;
  border: 0.5px solid grey;
  border-radius: 10px;
}

.btn_special:hover
{
  opacity: 0.9;
  cursor: pointer;
}